body{
    background-color: rgb(25, 35, 95);
    font-family: "Nunito", sans-serif;
}
a{
    text-decoration: none;
}
.nav-link{
    color: rgb(119, 119, 119);
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 200;
}
.nav-link:hover {
    color:red ;
}
#navbar-brandid{
    color: red;
    font-weight: 200;
    font-size: 1.5rem;
}
#navbar-brandid:hover{
    text-decoration: none;
}
h1{
    font-size:3.5rem;
    font-weight: 100;
}
span{
    color: red;
}
@media (max-width:1200px) {
    h1 {
    font-size:2.5rem; }
}
@media (max-width:1000px) {
    h1 {
    font-size:1.5rem; }
    .navbar-toggler {
    display: block;
    }    
}
.secondtitle{
    font-family: "Nunito", "sans-serif";
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
}
#secondpara{
    color: white;
    line-height: 2.25em;
    font-size: 1.5rem;
}
.thirdtitle{
    font-family: "Nunito", "sans-serif";
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
}
#thirdpara{
    color: white;
    line-height: 2.25em;
    font-size: 1.5rem;

}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280,0,0,0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
}
